div.homepage-content {
  max-width: 950px;
  margin: auto;

  h2.homepage-title {
    font-family: sans-serif;
    text-decoration: underline;
    margin: 20px;
  }

  div.homepage-feature {
    margin-top: 30px;
  
    p.homepage-content {
      line-height: 20px;
    }
    
    button {
      margin: 10px;
    }
  
  
  
  
  }
}








